[submodule "IndicTrans2"]
	path = IndicTrans2
	url = https://github.com/AI4Bharat/IndicTrans2.git
[submodule "IndicTransTokenizer"]
	path = IndicTransTokenizer
	url = https://github.com/VarunGumma/IndicTransTokenizer.git
